body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

h1, h2 {
  color: #333;
}

.input-section {
  margin: 20px 0;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 12px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.result-section {
  margin: 20px 0;
  text-align: left;
}

p {
  padding: 15px; /* Aumenta o padding para mais espaço interno */
  background-color: #f0f0f0; /* Cor de fundo do resultado */
  border-radius: 4px; /* Cantos arredondados */
  border: 1px solid #ccc; /* Adiciona uma borda sutil */
  overflow-wrap: break-word; /* Quebra de linha se o texto for muito longo */
  white-space: pre-wrap; /* Mantém os espaços em branco */
  word-wrap: break-word; /* Quebra palavras longas */
  font-family: monospace; /* Usa uma fonte monoespaçada para melhor legibilidade */
  max-height: 200px; /* Limita a altura do quadrado */
  overflow: auto; /* Adiciona rolagem se o conteúdo for muito longo */
}
